.code {
	border:1px solid #999999;
	font-family: Courier New, monospace;
	font-size: 14px;
	line-height:30px; 
	white-space: pre;
	resize: none;
	overflow: auto;
	border:1px solid #d3d3d3;
	border-radius: 12px;
	outline: none;
}
/*	
body {
	font-family: Courier New, monospace;
	margin: 0px;
	padding: 0px;
}
h2 {
  margin: 0px;  
	
}
*/
div {
	border:0px solid #d3d3ff;
}

.bottom-corner {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: white;
	border-bottom-color:#aaaaaa;
}
.ui-widget * { outline: none; }
