/* Aspect ratio 3:2 (like photos) */
/* TODO: Adapt for multiple visualizations per figure! */
/* Adapted from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 98%;
  padding: 0 0;
  margin-right: 0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 98%;
  height: 0.75rem;
  background: #818181;
  border: none;
  border-radius: 0.3rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.1em solid black;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e6e6e6;
  margin-top: -0.16666667rem;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #818181;
}
input[type=range]::-moz-range-track {
  width: 98%;
  height: 0.75rem;
  background: #818181;
  border: none;
  border-radius: 0.3rem;
}
input[type=range]::-moz-range-thumb {
  border: 0.1em solid black;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e6e6e6;
}
/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
input[type=range]::-ms-track {
  width: 98%;
  height: 0.75rem;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #818181;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #818181;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: 0.1em solid black;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e6e6e6;
}
input[type=range]:focus::-ms-fill-lower {
  background: #818181;
}
input[type=range]:focus::-ms-fill-upper {
  background: #818181;
}
/*
 * Slider and label arrangement.
 * With help from http://stackoverflow.com/questions/6713435/input-box-100-width-with-label-to-the-left
 */
.visualization-control.slider label {
  float: left;
  text-align: left;
  padding: 0 0.5em 0 0;
}
.visualization-control.slider input[type=number] {
  float: right;
  width: 5em;
  margin: 0 0 0 0.5em;
}
.visualization-control.slider .slider-container {
  overflow: hidden;
  display: block;
}
.visualization-control.slider input[type=range] {
  width: 100%;
}
.visualization-control.select {
  width: 100%;
}
.visualization-control.select label {
  float: left;
  text-align: left;
  padding: 0 0.5em 0 0;
}
.visualization-control.select .select-container {
  overflow: hidden;
  display: block;
}
.visualization-control.select .select-container select {
  width: 100%;
}
.visualization-control.check label {
  margin-left: .5em;
  cursor: pointer;
}
button {
  background: #e8e8e8;
  border: none;
  color: black;
  padding: 0.3em 0.7em 0.3em 0.7em;
  box-shadow: 0.1em 0.1em 0.1em #b3b3b3;
  cursor: pointer;
  cursor: hand;
  border-left: 0.1em solid #f8f8f8;
  border-top: 0.1em solid #f8f8f8;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
button:hover {
  background: #d6d6d6;
}
button:disabled,
button:disabled:hover {
  color: #5a5a5a;
  background: #cdcdcd;
  cursor: default;
  border-left: 0.1em solid #e8e8e8;
  border-top: 0.1em solid #e8e8e8;
}
.figure,
figure {
  margin: 2em auto;
  box-shadow: 0.05em 0.05em 0.6em 0 #808080;
  background: #fafafa;
  line-height: 100%;
  overflow: hidden;
  max-width: 40em;
}
.figure img,
figure img {
  width: 100%;
  height: auto;
  max-height: 26.67em;
}
.figure .figure-title,
figure .figure-title,
.figure figcaption,
figure figcaption {
  padding: 0.45em 0.5em 0.45em 0.5em;
  background: #e6e6e6;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure .figure-title .visualization-instructions,
figure .figure-title .visualization-instructions,
.figure figcaption .visualization-instructions,
figure figcaption .visualization-instructions {
  font-size: smaller;
}
.figure .visualizations,
figure .visualizations,
.figure .side-by-side,
figure .side-by-side {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.figure .visualizations .img-container,
figure .visualizations .img-container,
.figure .side-by-side .img-container,
figure .side-by-side .img-container {
  flex-grow: 1;
  width: 100%;
  /* Center image (if single image, typically). */
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.figure .visualization,
figure .visualization {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #505050;
}
.figure .visualization canvas,
figure .visualization canvas {
  height: 100%;
}
.figure .visualization .vis-not-available,
figure .visualization .vis-not-available {
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.figure .selected-color,
figure .selected-color {
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
  text-shadow: -0.1em 0 0 white, 0 -0.1em 0 white, 0.1em 0 0 white, 0 0.1em 0 white;
  background-color: white;
  border: .1em solid black;
}
.figure .aspect-ratio-preserver,
figure .aspect-ratio-preserver {
  position: relative;
}
.figure .aspect-ratio-preserver img.aspect-ratio,
figure .aspect-ratio-preserver img.aspect-ratio {
  display: block;
  width: 100%;
  height: auto;
  max-height: none;
}
.figure .aspect-ratio-preserver > .aspect-ratio-preservee,
figure .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure .aspect-ratio-preserver > canvas,
figure .aspect-ratio-preserver > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* To be included */
.fullscreen-figure {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.fullscreen-figure img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .fullscreen-figure {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .fullscreen-figure {
    flex-flow: column nowrap;
  }
}
.fullscreen-figure .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.fullscreen-figure .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.fullscreen-figure .aspect-ratio-preserver > .aspect-ratio-preservee,
.fullscreen-figure .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.fullscreen-button {
  text-decoration: underline;
  float: right;
  cursor: hand;
  cursor: pointer;
}
.figure:fullscreen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.figure:fullscreen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .figure:fullscreen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .figure:fullscreen {
    flex-flow: column nowrap;
  }
}
.figure:fullscreen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure:fullscreen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.figure:fullscreen .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure:fullscreen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.figure:-webkit-full-screen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.figure:-webkit-full-screen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .figure:-webkit-full-screen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .figure:-webkit-full-screen {
    flex-flow: column nowrap;
  }
}
.figure:-webkit-full-screen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure:-webkit-full-screen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.figure:-webkit-full-screen .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure:-webkit-full-screen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.figure:-moz-full-screen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.figure:-moz-full-screen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .figure:-moz-full-screen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .figure:-moz-full-screen {
    flex-flow: column nowrap;
  }
}
.figure:-moz-full-screen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure:-moz-full-screen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.figure:-moz-full-screen .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure:-moz-full-screen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.figure:-ms-fullscreen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.figure:-ms-fullscreen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .figure:-ms-fullscreen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .figure:-ms-fullscreen {
    flex-flow: column nowrap;
  }
}
.figure:-ms-fullscreen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure:-ms-fullscreen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.figure:-ms-fullscreen .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure:-ms-fullscreen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
figure:fullscreen,
figure:-webkit-full-screen,
figure:-moz-full-screen,
figure:-ms-fullscreen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
figure:fullscreen img.aspect-ratio,
figure:-webkit-full-screen img.aspect-ratio,
figure:-moz-full-screen img.aspect-ratio,
figure:-ms-fullscreen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  figure:fullscreen,
  figure:-webkit-full-screen,
  figure:-moz-full-screen,
  figure:-ms-fullscreen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  figure:fullscreen,
  figure:-webkit-full-screen,
  figure:-moz-full-screen,
  figure:-ms-fullscreen {
    flex-flow: column nowrap;
  }
}
figure:fullscreen .figure-details,
figure:-webkit-full-screen .figure-details,
figure:-moz-full-screen .figure-details,
figure:-ms-fullscreen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
figure:fullscreen .aspect-ratio-preserver,
figure:-webkit-full-screen .aspect-ratio-preserver,
figure:-moz-full-screen .aspect-ratio-preserver,
figure:-ms-fullscreen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
figure:fullscreen .aspect-ratio-preserver > .aspect-ratio-preservee,
figure:-webkit-full-screen .aspect-ratio-preserver > .aspect-ratio-preservee,
figure:-moz-full-screen .aspect-ratio-preserver > .aspect-ratio-preservee,
figure:-ms-fullscreen .aspect-ratio-preserver > .aspect-ratio-preservee,
figure:fullscreen .aspect-ratio-preserver > canvas,
figure:-webkit-full-screen .aspect-ratio-preserver > canvas,
figure:-moz-full-screen .aspect-ratio-preserver > canvas,
figure:-ms-fullscreen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.visualization-controls,
.visualization-controls-advanced {
  padding: 0.3em 0.5em;
}
.visualization-controls .visualization-control,
.visualization-controls-advanced .visualization-control {
  padding: .5em 0 .5em 0;
}
.visualization-controls .visualization-controls-group,
.visualization-controls-advanced .visualization-controls-group {
  margin-bottom: 1em;
}
.visualization-controls .visualization-controls-group:last-child,
.visualization-controls-advanced .visualization-controls-group:last-child {
  margin-bottom: 0;
}
.visualization-controls .visualization-controls-system-header,
.visualization-controls-advanced .visualization-controls-system-header {
  font-size: 1em;
  margin: .5em 0 0 0;
}
.visualization-controls table.controls-table,
.visualization-controls-advanced table.controls-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.visualization-controls table.controls-table td.shrink,
.visualization-controls-advanced table.controls-table td.shrink {
  white-space: nowrap;
}
.visualization-controls table.controls-table td.expand,
.visualization-controls-advanced table.controls-table td.expand {
  width: 100%;
}
.visualization-controls-advanced-toggle {
  margin: 0;
  padding: 0.45em 0.5em 0.45em 0.5em;
  background: #ebebeb;
  box-shadow: 0 0.05em 0.15em 0 #808080;
  cursor: hand;
  cursor: pointer;
  font-size: 1em;
}
.visualization-controls-advanced-toggle .text {
  font-weight: normal;
  text-decoration: underline;
}
.visualization-controls-advanced-toggle .arrow {
  display: inline-block;
  -webkit-transform-origin: 33% 50%;
  -moz-transform-origin: 33% 50%;
  -o-transform-origin: 33% 50%;
  transform-origin: 33% 50%;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.visualization-controls-advanced-toggle .arrow-rotated {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.figref a:link,
.tabref a:link,
.eqref a:link,
.figref a:visited,
.tabref a:visited,
.eqref a:visited {
  text-decoration: none;
  color: #4d4d4d;
}
.figref a:hover,
.tabref a:hover,
.eqref a:hover {
  text-decoration: underline;
  color: #808080;
}
.tab {
  margin: 2em 0;
}
.exercise {
  margin: 2em auto;
  box-shadow: 0.05em 0.05em 0.6em 0 #808080;
  background: #fafafa;
  line-height: 100%;
  overflow: hidden;
  max-width: 40em;
  /* ColorMatchingTask. */
  /* ColorSelectionTask. */
  /* ColorConversionSelectionTask. */
}
.exercise img {
  width: 100%;
  height: auto;
  max-height: 26.67em;
}
.exercise .figure-title,
.exercise figcaption {
  padding: 0.45em 0.5em 0.45em 0.5em;
  background: #e6e6e6;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.exercise .figure-title .visualization-instructions,
.exercise figcaption .visualization-instructions {
  font-size: smaller;
}
.exercise .visualizations,
.exercise .side-by-side {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.exercise .visualizations .img-container,
.exercise .side-by-side .img-container {
  flex-grow: 1;
  width: 100%;
  /* Center image (if single image, typically). */
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.exercise .visualization {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #505050;
}
.exercise .visualization canvas {
  height: 100%;
}
.exercise .visualization .vis-not-available {
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.exercise .selected-color {
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
  text-shadow: -0.1em 0 0 white, 0 -0.1em 0 white, 0.1em 0 0 white, 0 0.1em 0 white;
  background-color: white;
  border: .1em solid black;
}
.exercise .aspect-ratio-preserver {
  position: relative;
}
.exercise .aspect-ratio-preserver img.aspect-ratio {
  display: block;
  width: 100%;
  height: auto;
  max-height: none;
}
.exercise .aspect-ratio-preserver > .aspect-ratio-preservee,
.exercise .aspect-ratio-preserver > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.exercise h2,
.exercise h3 {
  margin: 0.5em 0.5em 0.75em 0.5em;
}
.exercise table.exercise-results,
.exercise table.options-table,
.exercise table.add-task-controls {
  margin: 0.45em 0.5em 0.45em 0.5em;
}
.exercise table.exercise-results th,
.exercise table.options-table th,
.exercise table.add-task-controls th {
  text-align: left;
}
.exercise table.exercise-results td:first-child,
.exercise table.options-table td:first-child,
.exercise table.add-task-controls td:first-child {
  padding-right: 1em;
}
.exercise table.exercise-results td:last-child,
.exercise table.options-table td:last-child,
.exercise table.add-task-controls td:last-child {
  padding-right: 0;
}
@media (min-width: 30em) {
  .exercise table.exercise-results td.shrink,
  .exercise table.options-table td.shrink,
  .exercise table.add-task-controls td.shrink {
    white-space: nowrap;
  }
  .exercise table.exercise-results td.expand,
  .exercise table.options-table td.expand,
  .exercise table.add-task-controls td.expand {
    width: 100%;
  }
}
.exercise table.exercise-results .option-explanation,
.exercise table.options-table .option-explanation,
.exercise table.add-task-controls .option-explanation {
  color: #333333;
  font-size: 80%;
}
.exercise table.exercise-results .controls-table,
.exercise table.options-table .controls-table,
.exercise table.add-task-controls .controls-table {
  width: 100%;
}
.exercise table.exercise-results .controls-table td:first-child,
.exercise table.options-table .controls-table td:first-child,
.exercise table.add-task-controls .controls-table td:first-child {
  padding-right: 0;
  padding-left: 0;
}
.exercise table.exercise-results .controls-table td:last-child,
.exercise table.options-table .controls-table td:last-child,
.exercise table.add-task-controls .controls-table td:last-child {
  padding-right: 0;
}
.exercise .exercise-button-bar {
  padding: 0.45em 0.5em 0.45em 0.5em;
  background: #e6e6e6;
  overflow: hidden;
}
.exercise .exercise-button-bar button {
  float: right;
  margin-left: .5em;
}
.exercise .exercise-button-bar:not(:last-child) {
  box-shadow: 0 0.05em 0.15em 0.05em #bfbfbf;
}
.exercise .exercise-button-bar.left-to-right button {
  float: left;
}
.exercise .exercise-button-bar.left-to-right button:first-child {
  margin-left: 0;
}
.exercise .exercise-feedback {
  padding: 0.45em 0.5em 0.45em 0.5em;
}
.exercise .exercise-feedback em {
  font-weight: bold;
}
.exercise .exercise-feedback.wrong {
  color: red;
}
.exercise .exercise-feedback.correct {
  color: green;
}
.exercise .color-matching-target,
.exercise .color-matching-current {
  height: 5em;
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  border: .1em solid black;
}
.exercise .color-matching-current {
  border-left-width: 0;
}
.exercise .exercise-hints-label {
  display: block;
  margin: .5em auto .5em auto;
  text-align: center;
  font-weight: bold;
  color: #878787;
}
.exercise .exercise-hints-label .hint {
  padding: 0 1em;
}
.exercise .exercise-hints-label .hint.active {
  color: black;
}
.exercise .color-selection-patches {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.exercise .color-selection-patches .color-selection-patch {
  cursor: hand;
  cursor: pointer;
}
.exercise .color-selection-patch {
  width: 5em;
  height: 5em;
  border: .1em solid black;
  margin: .3em;
  background: linear-gradient(red, yellow);
}
.exercise .color-conversion-selection-options {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  display: flex;
  flex-flow: column;
  padding: 0.45em 0.5em 0.45em 0.5em;
}
.exercise .color-conversion-selection-options .color-conversion-selection-option {
  cursor: hand;
  cursor: pointer;
  margin: .3em 0;
}
.exercise .color-conversion-selection-options .color-conversion-selection-option .color-patch {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  border: .1em solid black;
  margin-right: .5em;
  margin-bottom: -0.3em;
}
.exercise tbody.sub-table {
  box-shadow: 0 0.05em 0.15em 0.05em #bfbfbf;
}
.exercise tbody.sub-table .exercise-configurator-task-item-header {
  font-weight: bold;
  font-size: 120%;
  padding-top: .5em;
  padding-bottom: .5em;
}
.exercise tbody.sub-table .exercise-configurator-task-item-footer {
  padding-bottom: .5em;
}
.exercise tbody.sub-table td:first-child {
  padding-left: .25em;
}
.exercise tbody.sub-table td:last-child {
  padding-right: .25em;
}
.exercise .separator {
  min-height: .5em;
  height: .5em;
}
.exercise tbody:last-child .separator {
  min-height: 0;
}
.login-error {
  color: red;
}
form .field {
  padding: .2em 0;
}
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background: #333333;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  color: #a6a6a6;
  /* On large screens. */
}
.sidenav ul {
  list-style-type: none;
  padding: .25em .5em 0 .75em;
}
.sidenav ul li {
  margin-top: 1em;
}
.sidenav ul li ul > li {
  margin-top: .25em;
}
.sidenav ul li > ul {
  list-style-type: disc;
  padding-left: 1em;
}
.sidenav a {
  text-decoration: none;
  display: block;
  transition: .15s;
  color: #ffffff;
}
.sidenav a:hover,
.sidenav a:focus {
  color: #bfbfbf;
}
.sidenav a.is-active {
  color: #cccccc;
}
.sidenav a.is-active:before {
  content: "\25BA";
  margin-right: .25em;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: .2em;
  font-size: 350%;
  margin-left: 0;
}
@media screen and (min-width: 54em) {
  .sidenav {
    width: 13em;
    box-shadow: 0 0 .6em 0 black;
  }
  .sidenav .closebtn {
    display: none;
  }
}
.sidenav.open {
  width: 13em;
  box-shadow: 0 0 .6em 0 black;
}
/* On large screens. */
@media screen and (min-width: 54em) {
  .main-container {
    transition: margin-left 0.5s;
    margin-left: 13em;
  }
}
.topnav {
  background: #333333;
  margin: 0;
  padding: 0;
  width: 100%;
  /* On large screens. */
}
@media screen and (min-width: 54em) {
  .topnav {
    display: none;
  }
}
.menu-button {
  padding: .25em .5em;
  font-size: 150%;
  display: inline-block;
  cursor: pointer;
}
.menu-button div {
  width: 1em;
  height: 0.14285714em;
  background-color: white;
  margin: 0.2em 0;
  transition: 0.4s;
}
.menu-button:hover div,
.menu-button:focus div {
  background-color: #bfbfbf;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  height: 100%;
  background-color: #ffffff;
  /* On large screens. */
}
@media screen and (min-width: 54em) {
  body {
    padding-left: .5em;
    padding-right: .5em;
  }
}
main {
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  /* On large screens. */
}
main section {
  line-height: 175%;
}
main section .eqn {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
main .bibliography a {
  word-wrap: break-word;
}
main .overview {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
}
main .overview a.overview-item {
  flex-grow: 1;
  box-shadow: 0.05em 0.05em 0.6em 0 #a6a6a6;
  width: 20em;
  margin: .25em;
  color: black;
  font-weight: normal;
  text-decoration: none;
  transition: box-shadow 0.25s;
}
main .overview a.overview-item h2 {
  margin-top: .5em;
  font-size: 125%;
}
main .overview a.overview-item img {
  float: left;
  width: auto;
  height: 10em;
  margin-right: .5em;
}
main .overview a.overview-item:hover {
  box-shadow: 0.05em 0.05em 0.6em 0 #404040;
}
@media screen and (min-width: 54em) {
  main {
    max-width: 60em;
    padding: 1em;
  }
}
.main-container {
  /* Settings to keep the footer at the bottom of the page: */
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}
footer {
  color: #808080;
  /* Keeping footer at the bottom of the page: https://codepen.io/cbracco/pen/zekgx */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
footer .separator {
  margin: 0 .5em;
}
footer a:link,
footer a:visited {
  text-decoration: none;
  color: #595959;
}
footer a:hover {
  color: #262626;
}
footer a.license img {
  height: 1.1em;
  margin-bottom: -0.2em;
  filter: contrast(50%) brightness(175%);
}
footer a.license:hover img {
  filter: contrast(50%) brightness(130%);
}
h1 {
  color: #000000;
}
h2 {
  margin-top: 2em;
}
